.chatPage {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: #fff;
    font-family: 'Geist', sans-serif;
  }
  
  .chatWindow {
    background: url('/assets/chatPage-background.png') repeat,
    radial-gradient(circle at 20% 80%, #ffd8a6 0%, transparent 40%),
    radial-gradient(circle at 80% 80%, #7dafd6 0%, transparent 40%),
    linear-gradient(135deg, #f5efe6 0%, #c0cbd8 100%);
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
  }
  