.chatListContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;  
  height: 100%;
  cursor: ew-resize;
  background-color: transparent;
  z-index: 10;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  position: relative;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  width: 20px;
  height: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.bar {
  height: 2px;
  background-color: grey;
  border-radius: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.hamburger:hover .bar {
  background-color: #0088cc;
}

.hamburger:hover {
  transform: scale(1.1);
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 5px 30px;
  background-color: #f5f5f5;
  border-radius: 50px;
  padding: 13px 16px 13px 55px;
  color: #888;
  font-size: 16px;
  font-weight: bold;
}

.searchInput {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.themeSwitch {
  transform: translateY(1px);
}

.searchIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #888;
  transition: color 0.2s;
}

.searchWrapper:focus-within {
  outline: 2px solid #0088cc;
}

.searchWrapper:focus-within .searchIcon {
  color: #0088cc;
}

.menu {
  position: absolute;
  top: 60px;
  left: 11px;
  background-color: hsla(0, 0%, 100%, 0.73);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  z-index: 2000;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.menuItem:hover {
  background: rgba(243, 243, 243, 0.527);
  transform: scale(1.05);
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 12px;
  border-radius: 50%;
  object-fit: cover;
}

.chatContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin: 0 10px;
  overflow: hidden;
}

.lastMessageContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  overflow: hidden;
}

.lastMessage {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  color: gray;
  margin: 0;
}

.readStatus {
  font-size: 18px;
  color: green;
  display: flex;
  align-items: center;
}

.chatItem {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.chatItem:hover {
  background: rgba(0, 0, 0, 0.05);
}

.chatItem.selected {
  background-color: #0198e4;
  color: white;
}

.chatItem.selected .chatName,
.chatItem.selected .chatTime,
.chatItem.selected .lastMessage,
.chatItem.selected .readStatus
 {
  color: white;
}


.chatName {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 4px;
}

.chatTime {
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

.unreadBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  background-color: limegreen;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.chatUnread {
  background-color: #f0f8ff;
  font-weight: bold;
}

.loadingText {
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #888;
}

.profileSection {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 8px 0;
  transition: 0.2s ease-in-out;
}

.borderBottom {
  border-bottom: 1px solid #888;
  margin-bottom: 5px;
}

.profileSection:hover {
  transform: scale(1.05);
}

.displayName {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.continueButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 33px;
  background-color: #0088cc;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: 0.2s ease-in-out;
}

.continueButton:hover {
  transform: scale(1.1);
}

.checkbox {
  position: absolute;
  left: 400px;
  transform: scale(1.3);
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 23px;
  background-color: #0088cc;
  color: white;
  cursor: pointer;
  margin: 0  0 10px 15px;
  transition: 0.1s ease-in-out;
}

.backButton:hover {
  transform: scale(1.1);
}

.contextMenu {
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.73);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.contextMenuItem {
  color: #e53935;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.contextMenuItem:hover {
  background-color: #f0f0f0;
}

.deleteIcon {
  font-size: 24px;
}

.miniThumb {
  width: 22px;
  height: 22px;
  object-fit: cover;
  border-radius: 4px;
}

.miniIcon {
  color: #888;
  font-size: 18px;

}
.miniIconSelected {
  color: #fff;
  font-size: 18px;
}

.lastMessageThumb {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-2px);
  margin-right: 6px;
}

