.container {
  position: absolute;
  left: 37%;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.textarea {
  height: 80px;
  resize: none;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #0088cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #006da8;
}
.logoutButton {
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  background-color: #d11616;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logoutButton:hover {
  background-color: #c9302c;
}

.successMessage {
  text-align: center;
  animation: fade-in-out 3s ease-in-out forwards;
  color: green;
  margin-top: 10px;
  font-weight: 500;
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-10px); }
}

.deleteButton {
  width: 200px;
  background: transparent;
  color: whitesmoke;
  background: darkred;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.deleteButton:hover {
  background-color: rgb(167, 0, 0);
}

.button,
.logoutButton,
.deleteButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, 0.2s ease-in-out;
}

.button:hover,
.logoutButton:hover,
.deleteButton:hover {
  transform: scale(1.03);
}

.button svg,
.logoutButton svg,
.deleteButton svg {
  font-size: 19px;
}

.confirm {
  font-size: 20px;
  font-weight: bold;
}

.uploadLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, 0.2s ease-in-out;
  color: white;
  font-weight: bold;
  background: teal;
}

.uploadLabel svg {
  font-size: 20px;
}

.uploadLabel:hover {
  background-color: rgb(34, 116, 107);
  transform: scale(1.03);
}